@import "tailwindcss";

@layer base {
  body {
    /* No Tailwind v4, usamos as variáveis de cor geradas automaticamente */
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  /* Ocultar barra de rolagem mas manter funcionalidade para um visual mais limpo no app */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}